.button_generate {
    gap: .5em;
    width: 100%;
    padding: 1em;
    font-weight: 600;
    border: 2px solid var(--green);
    
    display: flex;
    cursor: pointer;
    transition: .2s all;
    align-items: center;
    justify-content: center;
    background: var(--green);
    text-transform: uppercase;
}

.button_generate:hover {
    background: none;
    color: var(--green);
}