.container_password {
    width: 100%;
    padding: 1em 2em;

    display: flex;
    align-items: center;
    background: var(--dark);
    justify-content: space-between;
}

.container_password h1 {
    min-height: 30px;
}

.icon_copy {
    transition: .2s all;
    cursor: pointer;
}

.icon_copy:hover {
    color: var(--green);
}