.container_length {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.length {
    font-size: 1.8em;
    color: var(--green);
}

.slider {
    width: 100%;
    height: 8px;
    margin-bottom: 1.5em;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
    outline: none;
    background: var(--black);
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid var(--green);
    
    cursor: pointer;
    appearance: none;
    background: var(--black);
}